/*Header and Body Styling*/
body{
	width:100%;
	margin:0 0;
}
header{
	height:125px;
}
header>div:last-of-type{
	position:absolute;
	bottom:0;
	height:25px;
}
#userName{
	position:absolute;
	bottom:100%;
	right:0;
	font-size:20px;
	font-weight:bold;
}
#logout{
	position:absolute;
	right:0;
	text-align:center;
	width:5%;
	color:white;
	line-height:25px;
	display:block;
	text-decoration:none;
	font-weight:bold;
}
/*Main Content Styling*/
#mainMenu{
	padding-top:5px;
	height:40px;
	margin-bottom:20px;
	border:0;
	box-sizing:border-box;
}
.flexMenuItem{
	padding:0 20px;
	font-size:18px;
	line-height:40px;
	cursor:pointer;
}
.Active{
	background:white;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.mainContainer{
	height:300px;
	margin-bottom:20px;
}
.sideMenu{
	width:15%;
}
#mainContent{
	width:85%;
	border:2px solid darkgrey;
	border-top-left-radius:30px;
}
#mainContent>*{
	margin-left:20px;
}
.infoTag{
	font-weight:bold;
	font-size:20px;
	margin-top:10px;
	margin-bottom:10px;
}
.mainContentClass{
	/*border:1px solid grey;*/
	height:200px;
	margin-right:10px;
}
.contentTable{
	border:1px solid blue;
	height:100%;
	width:100%;
}
.categoryInfo>td:first-of-type{
	font-weight:bold;
	width:30%;
}
.categoryInfo>td:last-of-type{
	width:70%;
}
.mainContentClass>p:first-of-type{
	height:30px;
	line-height:30px;
	font-size:18px;
	border-radius:0;
	border:none;
	color:blue;
}