/*Login Section Styling*/

#warningTag{
	text-align:center;
	font-weight:bold;
	width:30%;
	margin-left:35%;
	font-size:18px;
	margin-bottom:0;
	margin-top:12px;
	animation-name:blinker;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	animation-duration:4s;
	animation-fill-mode:forwards;
	cursor:pointer;
}

@keyframes blinker{
	0%,100%{color:red;}
	25%{color:green;}
	50%{color:red;}
	75%{color:blue;}
}

#indicatorTag{
	width:100%;
	height:50px;
	background:#99ffeb;
	line-height:50px;
	text-indent:10px;
	font-size:20px;
	color:green;
	font-weight:bold;
	margin-bottom:0;
}
#loginSection{
	height:350px;
	width:98%;
	margin:0 auto;
}
#loginPart{
	width:55%;
	height:350px;
	/*border:2px solid green;*/
}
#loginAside{
	width:45%;
	height:100%;
	/*border:2px solid green;*/
}
.loginPartSec{
	height:100%;
	display:inline-block;
}
#loginPart>section:first-of-type{
	width:60%;
	height:100%;
}
#loginPart>section:last-of-type{
	width:40%;
	height:100%;
	/*border:2px solid blue;*/
}
#loginForm{
	width:95%;
	margin-left:5%;
	margin-top:10%;
	margin-right:0;
}
.commonPara{
	height:50px;
	width:100%;
	line-height:50px;
	font-size:18px;
	color:#00802b;
	font-weight:bold;
	margin-bottom:0;
}
.commonInput{
	margin-top:0;
	display:block;
	height:30px;
	width:70%;
	outline:none;
	text-indent:5px;
	font-size:18px;
	border:2px solid grey;
	border-radius:5px;
}
#loginSubmitBtn{
	margin-top:30px;
	height:40px;
	width:40%;
	font-size:20px;
	border-radius:10px;
	outline:none;
	background:#0059b3;
	color:white;
	border:2px solid white;
	box-shadow:0px 5px 5px grey;
	transition:all 0.05s 0s;
	cursor:pointer;
}
#loginSubmitBtn:active{
	transform:translateY(5px);
	box-shadow:0px 0px 0px grey;
	background:green;
}
#loginForm a{
	display:block;
	margin-top:15px;
	width:60%;
	font-size:17px;
}
.commonAnchor{
	display:block;
	width:100%;
	margin-top:20%;
	font-size:18px;
	margin-left:-20%;
}
#loginPart>.loginPartSec:last-of-type>a:first-of-type{
	margin-top:30%;
}

/*DnD Section Styling*/

#dndContainer{
	width:98%;
	height:200px;
	margin:10px auto;
	/*border:1px solid blue;*/
}
.dndSection{
	width:24%;
	height:196px;
	box-sizing:border-box;
	margin:2px auto;
	justify-content:space-around;
	border:1px solid green;
}
.dndSection>div.myFlexDisplay{
	height:25%;
	border-bottom:1px solid green;
	/*border:1px solid green;*/
}
.dndSection>div.myFlexDisplay>div.dndImageContainer{
	padding-top:5px;
	padding-left:5px;
	width:20%;
	/*border:1px solid green;*/
}
.dndSection>div.myFlexDisplay>div.dndImageContainer>img{
	height:80%;
	width:80%;
}
.dndSection>div.myFlexDisplay>p{
	width:80%;
	text-align:center;
	font-size:24px;
	line-height:50px;
	font-weight:bold;
	text-shadow:0px 2px 2px grey;
	/*border:1px solid blue;*/
}
.dndSection>p{
	height:45%;
	padding:10%;
	padding-top:20%;
	width:80%;
	text-align:center;
	/*border:1px solid red;	*/
}

footer{
	height:100px;
	border-top:4px solid lightgrey;
}