#changeProfilePassword,#forgotProfilePassword{
	margin-top:20px;
	text-decoration:underline;
	cursor:pointer;
	color:blue;
	font-size:14px;
}
#profilePassTextBox{
	margin-bottom:20px;
	height:25px;
	width:200px;
}
#profilePassSubmit{
	height:25px;
	width:100px;
	text-align:center;
	line-height:20px;
	font-size:20px;
	cursor:pointer;
}
.mainContentClass>section:first-of-type{
	width:100%;
	margin-left:0%;
	margin-top:50px;
}
#personalInfoTable{
	border:2px solid purple;
	height:80%;
	width:97%;
}
.PIR>td:first-of-type{
	font-weight:bold;
	width:20%;
}